# ide
.idea
.vscode

# python
**/.python_venv

# terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log


# DirEnv

**/.secret/
**/.target/
**/data/.*

_site
.sass-cache
.jekyll-metadata
Gemfile.lock