commonLabels:
  {{ stack['label_key'] }}: {{ stack['label_val'] }}

# Prometheus
prometheus:
  prometheusSpec:
    serviceMonitorSelector:
      matchLabels:
        {{ stack['label_key'] }}: {{ stack['label_val'] }}
    ruleSelector:
      matchLabels:
        {{ stack['label_key'] }}: {{ stack['label_val'] }}

# Grafana
grafana:
  additionalDataSources:
    - name: loki
      access: proxy
      orgId: 1
      type: loki
      url: {{ loki['url'] }}
      version: 1

# Alert Manager
alertmanager:
  config:
    route:
      group_by: ['alertname']
      group_wait: 30s
      group_interval: 5m
      repeat_interval: 6h
      receiver: default-receiver
      routes:
        - match_re:
            alertname: '{{ alert['regex'] }}'
          receiver: slack-notifications
    receivers:
      - name: default-receiver
      - name: slack-notifications
        slack_configs:
          - api_url: "{{ alert['slack_api_url'] }}"
            channel: "{{ alert['slack_channel'] }}"
