apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  creationTimestamp: null
  name: foo
  namespace: default
spec:
  encryptedData:
    client_id: {{ sealed_client_id }}
    client_secret: {{ sealed_client_secret }}
  template:
    metadata:
      creationTimestamp: null
      name: foo
      namespace: default

