# Prometheus
coreDns:
  enabled: true

kubeApiServer:
  enabled: true

kubeStateMetrics:
  enabled: true

kubelet:
  enabled: true
  serviceMonitor:
    cAdvisor: true
    https: true
    resource: false

# Name overrides
nameOverride: {{ stack['label_val'] }}
fullnameOverride: {{ stack['label_val'] }}

nodeExporter:
  enabled: true

prometheus:
  ingress:
    enabled: false # We use an IngressRoute

  prometheusSpec:
    logFormat: json
    logLevel: info

    # Enforce spreading Prometheus instances on different K8S nodes
    podAntiAffinity: hard
    podMonitorSelector:
      matchExpressions:
        - key: {{ stack['label_key'] }}
          operator: In
          values:
            - {{ stack['label_val'] }}

    externalUrl: "/kube-cluster"
    routePrefix: "/kube-cluster"
    ruleSelector:
      matchExpressions:
        - key: {{ stack['label_key'] }}
          operator: In
          values:
            - {{ stack['label_val'] }}

    serviceMonitorSelector:
      matchExpressions:
        - key: {{ stack['label_key'] }}
          operator: In
          values:
            - {{ stack['label_val'] }}

  serviceMonitor:
    relabelings: []
    selfMonitor: true
