alertmanager:
  enabled: true
  config:
    route:
      group_by: ['alertname']
      group_wait: 30s
      group_interval: 5m
      repeat_interval: 6h
      receiver: default-receiver
      routes:
        - match_re:
            alertname: '{{ alert['regex'] }}'
          receiver: slack-notifications
    receivers:
      - name: default-receiver
      - name: slack-notifications
        slack_configs:
          - api_url: "{{ alert['slack_api_url'] }}"
            channel: "{{ alert['slack_channel'] }}"
