grafana.ini:
  # Logging configuration
  log:
    level: "info"
    mode: "console"
    console:
      format: "json"

ingress:
  enabled: false

sidecar:
  dashboards:
    enabled: true
    label: dynamic-dashboard
    searchNamespace: "ALL"
  datasources:
    enabled: true
    label: dynamic-datasource
    searchNamespace: "ALL"
