stack:
  label_key: audit
  label_val: hunter

rule:
  name: example-rule

alert:
  name: example-alert
  regex: '^(example).*(alert)$'
  slack_channel: '#haitao-test'
  slack_api_url: {{ loki_slack_api_url }}
  message: foo
  runbook: https://nginx-discovery.kind.io/

loki:
  url: http://tracer-loki.monitoring:3100
  metric: nginx_hits
  prefixed: promtail_custom_nginx_hits
  discovery: nginx-discovery

loki_rule:
  name: flux-rule
  
loki_alert:
  name: flux-alert
  expr: 'count_over_time({container="flux"}[1m] |= "Authentication is required")  > 1'
  message: 'Authentication is required in Flux'
  runbook: https://nginx-discovery.kind.io/
  alertmanager_endpoint: http://alertmanager-operated.monitoring:9093